<% for(var i=0; i < listdata.length; i++) { %>
    <div class="content-oder">
        <p><%= listdata[i].productList %></p>
        <p class="user-order<%= i %>" alt="<%= listdata[i].UserID %>">Name : 
            <span class="name-user<%= i %>"></span>  
            <span class="email-user<%= i %>"></span> 
        </p>
        <div class="order-component">
            <% for(var j=0; j < listdata[i].productList.length; j++) { %>
                <div class="shop-body<%= i %> sp<%= i %><%= j %>" alt="<%= listdata[i].productList[j].productID %>">
                    <p><%= listdata[i].productList[j].productID %></p>
                    <div class="order-item">
                        <div class="item-img ">
                            <img class="img-<%= i %><%= j %>" src="" alt="">
                        </div>
                        <div class="item-main main-<%= i %><%= j %>">
                            
                        </div>
                        <div class="size-color">
                            Nhóm Màu : <span class="size-<%= i %><%= j %>"></span>,
                            Size : <span class=" color-<%= i %><%= j %>"></span>
                        </div>
                        <div class="item-price ">
                            ₫ <span class="gia price-<%= i %><%= j %>"></span>
                        </div>
                        <div class="item-quantity">
                            <p>Qty: 
                                <span><%= listdata[i].productList[j].quantity %></span>
                            </p>
                        </div>
                        <div class="item-status">
                            <%= listdata[i].status %>
                        </div>
                    </div>
                </div>
            <% } %>
            
        </div>
    </div>
<% } %>
