<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ORDERADMIN LAZADA</title>
    <link rel="icon" href="/public/icon/lazada-logo.png" type="image/x-icon" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="stylesheet" href="/public/css/admin/orderadmin.css" />
  </head>
  <body>
    <%- include('./header.ejs') %> <br />
    <div class="content">
      <% listOrder.map(order => { %>
      <div class="content-order">
        <div class="content-order-name">
          <h5><%= order.name %></h5>
          <p><%= order.phone %></p>
        </div>
        <div class="content-order-address">
          <span class="<%= order.type == 'NHÀ RIÊNG' ? 'home' : 'work' %>"
            ><%= order.type %></span
          >
          <span><%= order.address %></span>
        </div>
        <div class="content-order-price">
          <h5>
            <%= order.total.toLocaleString("vi") %> đ
            <span>(<%= order.productList.length %> sản phẩm)</span>
          </h5>
        </div>
        <div class="content-order-date">
          <p><%= order.createdAt.toLocaleDateString() %></p>
          <% if (order.productList.length == 0) { %>
          <button
            class="content-order-date-remove"
            title="Xóa đơn hàng"
            onclick="orderRemove('<%= order._id %>')"
          >
            <i class="fas fa-times"></i>
          </button>
          <% } else { %>
          <button
            title="Xác nhận đơn hàng giao thành công"
            class="content-order-date-success"
            onclick="orderDone('<%= order._id %>', '<%= order.name %>')"
          >
            <i class="fas fa-check"></i>
          </button>
          <% } %>
        </div>
      </div>
      <% }) %>
    </div>
  </body>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>

  <script>
    async function orderDone(orderID, name) {
      try {
        const htmlGmail = `
        <h2>Xin chào ${name}!</h2>
        <div class="text-email">
          <p style="line-height: 32px; font-size: 17px; margin-bottom: 24px">Đơn hàng ${orderID.slice(
            0,
            14
          )} vừa được bạn thanh toán và nhận hàng</p>
          <a href="https://k20-lazada.herokuapp.com/profile/order/${orderID}"
          style="
            padding: 16px 24px;
            background-color: #1a9cb7;
            text-decoration: none;
            color: white;
            font-size: 17px;
            text-transform: uppercase;
          ">Chi tiết sản phẩm</a>
          <p style="line-height: 32px; font-size: 17px; margin-top: 24px">
            Hãy chia sẻ cho chúng tôi biết về chất lượng sản phẩm của shop phần
            đánh giá làm theo các bước sau:
            <br />
            1. Truy cập vào trang web
            <a href="https://k20-lazada.herokuapp.com"
            style="color: #049cb9;"
              >https://k20-lazada.herokuapp.com/</a
            >
            <br />
            2. Bấm vào <span style="font-weight: bolder;">Tài khoản của tôi</span> >
            <span style="font-weight: bolder;">Đơn hàng của tôi</span>
            <br />
            3. Kiểm tra và chọn đơn hàng có dấu tích xanh trên cùng bên phải
            <br />
            4. Tiến hành đánh giá từng sản phẩm (nếu có) bằng cách thả sao và viết
            vài lời bình luận.
            <br />
            5. Click vào nút Đăng, shop sẽ đưa bạn đến với trang chi tiết của sản
            phẩm đó. Ở đây bạn có thể kiểm tra và sửa đánh giá của chính mình
          </p>
        </div>
        <h4 style="margin-top: 12px;font-size: 18px ">
          Xin chân thành cảm ơn vì bạn đã ủng hộ cho shop của chúng tôi. Nếu có dịp
          hãy ghé qua các sản phẩm khác của bên tôi nhé!
        </h4>
        `;
        await $.ajax({
          type: "PUT",
          url: "/order/done",
          data: {
            orderID,
            codeOrder: orderID.slice(0, 14),
            name,
            htmlGmail,
          },
        });
        window.location.reload();
      } catch (error) {
        console.log(error);
      }
    }

    async function orderRemove(orderID) {
      try {
        await $.ajax({
          type: "DELETE",
          url: "/order/" + orderID,
        });
        window.location.reload();
      } catch (error) {
        console.log(error);
      }
    }
  </script>
</html>
