<div class="the-product">
  <% listproduct.map(function(value){%>
  <div class="the-aaa">
    <div class="product">
      <div class="end">
        <div>
            <button
              type="button"
              data-bs-toggle="modal"
              data-bs-target="#staticBackdrop"
              class="sua-xoa-day"
              onclick="up('<%= value.id %>')"
            >
              <span></i></span>
            </button>
          </div>
          <div>
            <button
              type="button"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
              class="xoa-day"
              onclick="xoaproduct('<%= value.id %>')"
            >
              <span></span>
            </button>
          </div>
      </div>
      <div class="the-listanh">
        <% for (item of value.listImg) { %>
        <img src="/<%= item %>" alt="" class="imgthumbnail" />
        <% } %>
      </div>
      <div class="bottom">
        <div><span class="khac-mau">Color:</span> <%= value.color %></div>
        <div><span class="khac-mau">Size:</span> <%= value.size %></div>
        <div><span class="khac-mau">Quantity:</span> <%= value.quantity %> VNĐ</div>
      </div>
    </div>
  </div>
  <%}) %>
</div>
