<% listCart.map(product => { %>
<div class="checkout-item">
  <div class="cart-item-left">
    <input type="checkbox" class="" />
    <img src="<%= product.productID.illustration %>" alt="" />
    <div class="content">
      <a
        class="content-link"
        href="/product/detail/<%= product.productID.productCode._id %>"
      >
        <p class="content-name"><%= product.productID.productCode.name %></p>
        <p class="color-size">
          <% if (product.productID.color != '' && product.size != '') { %> Nhóm
          màu : <%= product.productID.color %> , Kích thước : <%= product.size
          %> <% } else { %>
          <span>
            <%= product.productID.color != '' ? 'Nhóm màu : ' +
            product.productID.color : '' %>
          </span>
          <span>
            <%= product.size != '' ? 'Kích thước : ' + product.size : '' %>
          </span>
          <% } %>
        </p>
      </a>
    </div>
  </div>
  <div class="cart-item-middle">
    <p class="current-price">
      <span
        ><%= product.productID.productCode.price.toLocaleString("vi") %></span
      >
      ₫
    </p>
    <div class="operations">
      <i class="fa-solid fa-trash-can" onclick="xoa()"></i>
    </div>
  </div>
  <div class="cart-item-right">
    <div class="so-luong-sp">
      <div>
        <button class="" onclick="down()">-</button>
        <input
          type="number"
          id="quantity"
          value="<%= product.quantity %>"
          onclick="keyup()"
          min="1"
        />
        <button class="" onclick="up()">+</button>
      </div>
    </div>
  </div>
</div>
<% }) %>
