<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= ten %> - Mua <%= ten %> trên Lazada VN</title>
    <link
      rel="shortcut icon"
      href="/public/icon/lazada-logo.png"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/public/css/base.css" />
    <link rel="stylesheet" href="/public/css/filter.css" />
  </head>
  <body>
    <%- include('../../components/header') %> <%-
    include('../../components/loading') %>

    <main class="tong2manhinhdoc">
      <div id="" class="buttomhome">
        <div class="header123">
          <a href="/">
            <span class="buttomhomezzz1">Trang chủ</span>
          </a>
          <span class="buttomhomezzz">> </span>
          <span class="buttomhomezzz2">Kết quả tìm kiếm</span>
        </div>
      </div>
      <div class="tong2manhinhdoc2">
        <div class="khoibentrai">
          <div class="khoibentrai-group">
            <h3>Giá</h3>
            <div class="khoibentrai-group-price">
              <input id="giatoithieu" placeholder="Tối thiểu" type="number" />
              <p>-</p>
              <input id="giatoida" placeholder="Tối đa" type="number" />
              <button
                onclick="timtheogia('<%=pagenow%>','<%= ten %>')"
                class="khoibentrai-group-price-btn"
              >
                Tìm theo giá
              </button>
            </div>
          </div>
        </div>

        <div class="khoibenphai">
          <h3><%= ten %></h3>
          <div class="headerTopRight">
            <p>
              <% let tongTimDuoc %> <% listNoLimit.map(function(value11,index){
              %> <% tongTimDuoc = index +1 %> <% })%> <% if(tongTimDuoc>0){%> Có
              <%= tongTimDuoc %> kết quả tìm được theo "<%= ten %>" <% } else{%>
              Không có kết quả tìm được theo "<%= ten %>" <% }%>
            </p>
          </div>

          <div class="noidungbenphai">
            <% let i %>
            <div class=""></div>
            <% let tknangcao =[] %> <% if(dktimkiem.color){%> <%
            listproduct.map(function(value,index){ %> <% if(value.color ==
            dktimkiem.color ){%> <% tknangcao.push(value.productCode) %> <% }%>
            <% }) %> <% }else{%> <% list.map(function(value,index){ %> <% let
            idcuano = value._id %> <% let cacmau = [] %> <%
            listproduct.map(function(value11,index){ %> <%
            if(value11.productCode == idcuano){%> <% cacmau.push( value11.color)
            %> <% }%> <% })%> <% let cacmau1 = [...new Set(cacmau)];%> <% let
            cacsize = [] %><% listproduct.map(function(value11,index){ %> <%
            if(value11.productCode == idcuano){%> <% cacsize.push( value11.size)
            %> <% }%> <% })%> <% let cacsize1 = [...new Set(cacsize)];%>
            <div class="khoi0" id="<%= cacmau1 %>">
              <% i = index+1 %>

              <div class="khoi1">
                <div class="khoi11">
                  <a href="product/detail/<%= value._id %>">
                    <div class="xephang123">
                      <div class="">
                        <img src="<%= value.thumbnail %>" alt="" />
                      </div>
                      <div class="chubinhthuong">
                        Sản phẩm: <%= value.name %>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="khoi12">
                  <div class="">$: <%= value.price %>đ</div>
                </div>
                <div class="khoi13">
                  <div class="">Mầu: <%= cacmau1 %></div>
                </div>
                <div class="khoi14">
                  <div class="">Size:<%= cacsize1 %></div>
                </div>
              </div>
            </div>
            <% })%> <% }%> <% let uniquetknangcao = [...new Set(tknangcao)];%>
            <% for (let i = 0; i < uniquetknangcao.length; i++) {%> <%
            list.map(function(value,index){ %> <% if (uniquetknangcao[i] ==
            value._id) {%>
            <div class="khoi0">
              <div class="khoi1">
                <div class="khoi11">
                  <a href="product/detail/<%= value._id %>">
                    <div class="xephang123">
                      <div class="">
                        <img src="<%= value.thumbnail %>" alt="" />
                      </div>
                      <div class="chubinhthuong">
                        tên sản phẩm: <%= value.name %>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="khoi12">
                  <div class="">sản phẩm có giá là <%= value.price %></div>
                </div>
              </div>
            </div>
            <% } %> <% })%> <% }%>
          </div>

          <!-- phân trang -->
          <div class="phantrang">
            <button onclick="changepagetruoc('<%=pagenow%>','<%= ten %>')">
              <-
            </button>
            <div class="phantranggiua">
              <% list.map(function(value,index){ %> <% if(index<
              tongTimDuoc/8){%>
              <button onclick="changepage('<%= index+1 %>','<%= ten %>')">
                <%= index+1 %>
              </button>
              <% }%> <% }) %>
            </div>
            <button
              onclick="changepagesau('<%= pagenow %>','<%= ten %>','<%=tongTimDuoc/8 %>')"
            >
              ->
            </button>
          </div>
        </div>
      </div>
    </main>
    <%- include('../../components/footer') %>
  </body>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>
  <script src="/public/js/search.js"></script>
</html>
