<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/detail.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
</head>
<body>
    
    <div class="lienket">
        <div>
            <span >
                <a class="lienket" title="Túi xách và Vali túi du lịch" href="" >
                  <span>Túi xách và Vali túi du lịch </span> 
                  <span >></span>
                </a>
            </span>
            <span >
                <a class="lienket" title="Túi xách nam" href="" >
                  <span>Túi xách nam </span> 
                  <span >></span>
                </a>
            </span>
            <span >
                <a class="lienket" title="Ví " href="" >
                  <span>Ví </span> 
                  <span >></span>
                </a>
            </span>
            <span >
                <span class="">ví nam ADO09, bóp nam da bò thật, ví da nam ví </span>
            </span> 
        </div>           
    </div>

    <div class="container">
        <div class="block">

            <div class="block-left">
                <div class="img1" >
                    <img src="<%= listdata.listImg[0] %>" id="myimage" class="bigImg" alt="ví nam">
                </div>
                
                <div class="img-line">
                    <button onclick="back()"><i class="fa-solid fa-chevron-left"></i></button>
                    <div class="img-next-slick" > 
                        <% for(var i = 0 ; i < listdata.listImg.length ; i++) { %>
                            <img class="smallImg" id="<%= i %>" src="<%= listdata.listImg[i] %>" >   
                        <% } %>   
                    </div>
                    <button  onclick="next('<%= listdata.listImg.length %>')"><i class="fa-solid fa-chevron-right"></i></button>
                </div>
                
            </div>

            <div class="block-center">
                <div id="myresult" class="img-zoom-result"></div>
                <div class="block-center-left">
                    <div class="name-sp">
                        <h1><%= listcode.name %></h1>
                    </div>

                    <div class="danh-gia-sao">
                        <div class="sao">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half-stroke"></i>
                        </div>
                        <a href="/">87 đánh giá</a>
                        <div class="php">|</div>
                        <a href="/">9 câu hỏi đã trả lời</a>
                    </div>

                    <div class="thuong-hieu">
                        <span>Thương hiệu:</span>
                        <a href="/">HEIKA</a>
                        <div class="php">|</div>
                        <a href="/">Xem thêm Túi xách nam của HEIKA</a>
                    </div>

                    <div class="gia-ban">
                        <div class="gia-ban-sale">
                            <span><span class="price">210000</span> đ</span>
                        </div>
                        <div class="gia-ban-goc">
                            <strike><span class="numbers"><%= listcode.price %></span> đ</strike>
                            <span><span class="phan-tram-giam">-27</span>%</span>
                        </div>
                    </div>

                    <div class="uu-dai">
                        <div class="uu-dai-1 ud">Ưu đãi</div>
                        <div class="uu-dai-list">
                            <div class="list">
                                <div class="tag-name">Chi tiêu tối thiểu 300.000 ₫ <i class="fa-solid fa-caret-down"></i></div>
                            </div>
                            <div class="list">
                                <div class="tag-name">Mua 2, giảm 5% <i class="fa-solid fa-caret-down"></i></div>
                            </div>
                        </div>
                    </div>
                    

                    <div class="nhom-mau">
                        <p>Nhóm màu</p>
                        <div class="selection-mau">
                            <div class="ten-mau">
                                <span>Vui lòng chọn</span>
                            </div>
                            <div class="mau-sp">
                                <% for(var i = 0 ; i < listdata.color.length ; i++) { %>
                                    <div class="img-sp">
                                        <img class="image-mau" id="mau-sp<%= i %>" alt="<%= listdata.color[i].name %>" src="<%= listdata.color[i].colorImg %>" >
                                    </div>
                                <% } %>
                            </div>
                        </div>
                    </div>
                    
                    <div class="nhom-size">
                        <p>Size</p>
                        <div class="selection-size">
                            <div class="ten-size">
                                <span>Vui lòng chọn</span>
                            </div>
                            <div class="size-sp">
                                <% for(var i = 0 ; i < listdata.size.length ; i++) { %>
                                    <div class="btn-sp">
                                        <button class="btn-size" id="size-sp<%= i %>" alt="<%= listdata.size[i] %>"><%= listdata.size[i] %></button>
                                    </div>
                                <% } %>
                            </div>
                        </div>
                    </div>

                    <div class="so-luong">
                        <p>Số lượng</p>
                        <div class="selection-mau">
                            <div>
                                <button id="down" onclick="down()">-</button>
                                <input type="text" min="1" max="30" id="number-sp" value="1">
                                <button onclick="up()">+</button>
                            </div>
                        </div>
                    </div>

                    <div class="order">
                        <button class="mua-ngay">Mua ngay</button>
                        <button class="them-vao-cart">Thêm vào giỏ hàng</button>
                    </div>

                </div>

                <div class="block-center-right">
                    <div>
                        <div class="tuy-chon-gh">Tùy chọn giao hàng </div>
                        <div class="adress">
                            <i class="fa-solid fa-location-dot"></i>
                            <div class="adress-id">Hồ Chí Minh, Quận 1, Phường Phạm Ngũ Lão</div>
                            <div class='adress-change'>Thay đổi</div>
                        </div>
                        <div class="gh-tieu-chuan">
                            <div class="gh">
                                <i class="fa-solid fa-truck"></i>
                                <div class="date">
                                    <div>GH tiêu chuẩn</div>
                                    <div class="mo">3-1 thg 4</div>
                                </div>
                                <div class="phi-ship">25.000 ₫</div>
                            </div>
                            <div class="thanh-toan">
                                <i class="fa-brands fa-amazon-pay"></i>
                                <div>Thanh toán khi nhận hàng. (Không được đồng kiểm)</div>
                            </div>
                        </div>
                    </div>

                    <div class="BBB">
                        <div class="doi-tra-bh">Đổi trả và bảo hành</div>
                        <div class="doi-tra">
                            <i class="fa-solid fa-arrow-rotate-left"></i>
                            <div class="doi-tra-date">
                                <div>7 ngày trả hàng cho Nhà bán hàng</div>
                                <div class="mo">Không được trả hàng với lí do "Không vừa ý"</div>
                            </div>
                        </div>
                        <div class="BH">
                            <i class="fa-solid fa-shield"></i>
                            <div>Bảo hành điện tử 6 tháng</div>
                        </div>
                    </div>

                    <div class="shop-ban">
                        <div class="name-shop">
                            <div class="mo">Được bán bởi</div>
                            <div><a href="/">Adonis.Leather</a></div>
                        </div>
                        <div class="chat-shop">
                            <i class="fa-solid fa-comments"></i>
                            Chat
                        </div>
                    </div>

                    <div class="danh-gia-nguoi-dung">
                        <div class="danh-gia sp1">
                            <div class="danh-gia-name">Đánh giá tích cực</div>
                            <div class="phan-tram">97% </div>
                        </div>
                        <div class="danh-gia sp2">
                            <div class="danh-gia-name">Giao đúng hạn</div>
                            <div class="phan-tram">99% </div>
                        </div>
                        <div class="danh-gia sp3">
                            <div class="danh-gia-name">Tỷ lệ phản hồi</div>
                            <div class="phan-tram">100%</div>
                        </div>
                    </div>

                    <div class="shop">
                        <a href="/">ĐẾN GIAN HÀNG</a>
                    </div>


                </div>


            </div>
            
        </div>
    </div>
    
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/public/js/detail.js"></script>
</html>
