<div class="evoluate-block">
  <div class="evoluate-star">
    <div class="evoluate-star-number">
      <h1 class="evoluate-star-number-main">
        <span><%= listcode.stars %></span>/5 <i class="fas fa-star"></i>
      </h1>
      <p><%= listComment.length %> đánh giá</p>
    </div>
    <ul class="evoluate-star-classify">
      <li class="evoluate-star-classify-item">
        <img src="/public/icon/star-active.png" alt="" />
        <img src="/public/icon/star-active.png" alt="" />
        <img src="/public/icon/star-active.png" alt="" />
        <img src="/public/icon/star-active.png" alt="" />
        <img src="/public/icon/star-active.png" alt="" />
        <span><%= listCount[4] %></span>
      </li>
      <li class="evoluate-star-classify-item">
        <img src="/public/icon/star-active.png" alt="" />
        <img src="/public/icon/star-active.png" alt="" />
        <img src="/public/icon/star-active.png" alt="" />
        <img src="/public/icon/star-active.png" alt="" />
        <img src="/public/icon/star-empty.png" alt="" />
        <span><%= listCount[3] %></span>
      </li>
      <li class="evoluate-star-classify-item">
        <img src="/public/icon/star-active.png" alt="" />
        <img src="/public/icon/star-active.png" alt="" />
        <img src="/public/icon/star-active.png" alt="" />
        <img src="/public/icon/star-empty.png" alt="" />
        <img src="/public/icon/star-empty.png" alt="" />
        <span><%= listCount[2] %></span>
      </li>
      <li class="evoluate-star-classify-item">
        <img src="/public/icon/star-active.png" alt="" />
        <img src="/public/icon/star-active.png" alt="" />
        <img src="/public/icon/star-empty.png" alt="" />
        <img src="/public/icon/star-empty.png" alt="" />
        <img src="/public/icon/star-empty.png" alt="" />
        <span><%= listCount[1] %></span>
      </li>
      <li class="evoluate-star-classify-item">
        <img src="/public/icon/star-active.png" alt="" />
        <img src="/public/icon/star-empty.png" alt="" />
        <img src="/public/icon/star-empty.png" alt="" />
        <img src="/public/icon/star-empty.png" alt="" />
        <img src="/public/icon/star-empty.png" alt="" />
        <span><%= listCount[0] %></span>
      </li>
    </ul>
  </div>
  <div class="evoluate-comment">
    <% listComment.map(comment => { %>
    <div class="evoluate-comment-content">
      <div class="evoluate-comment-user">
        <img src="<%= comment.userID.avatar %>" alt="" />
        <div class="evoluate-comment-user-title">
          <%= comment.userID.username %> <span>đã đánh giá</span>
          <% for (let i = 0 ; i < comment.star ; i++) { %>
          <i class="fas fa-star"></i>
          <% } %>
        </div>
      </div>
      <p><%= comment.content %></p>
      <p><%= comment.createdAt.toLocaleDateString() %></p>
    </div>
    <% }) %>
  </div>
</div>
