
<% for(var i=0; i < add.length; i++) { %>
<div class="formItem add">
    <div class="address-wrapper address">
      <div class="action">
        <span class="next-checkbox-inner" >
          <input class="checkAddress<%= i %> chon" type="checkbox" aria-checked="false" onclick="changeAddress('<%= i %>')">
        </span>
      </div>
      <div>
        <div>
          <span class="address-title name ten<%= i %>"><%= add[i].name %></span>
          <span class="address-mobile mobile sdt<%= i %>"><%= add[i].phone %></span>
        </div>
        <div class="address-info">
          <div class="v2-address-info-item">
            <span class="total t<%= i %>"><span class="add-diachi-one type<%= i %>"><%= add[i].type %></span></span>
            <span class="address-user1 diachi<%= i %>"><%= add[i].address %></span>
          </div>
        </div>
      </div>
    </div>
</div>
<% } %>