<% for(var i=0; i < arrCode.length; i++) { %>
    
    <div class="package">
        <div class="package-title">
        <div class="package-title-left">
            <span class="package-title-name"
            ><b>Gói hàng <%= i+1 %> của <%= arrCode.length %></b></span
            >
        </div>
        <div class="package-title-right">
            <span class="package-title-tips">Được giao bởi</span>
            <span class="package-title-brand"><b>Elnidofashion</b></span>
        </div>
        </div>
        <div id="delivery_" class="delivery-option">
        <div class="delivery-option-body">
            <div class="delivery-slider">
                <div class="delivery-slider-content">
                    <p class="delivery-slider-title">Tùy chọn giao hàng</p>
                </div>
            <div class="delivery-slider-wrap">
                <div class="delivery-item-top">
                <div class="delivery-item-content">
                    <div class="delivery-item-first-line">
                    <span><i class="fa-solid fa-circle-check"></i></span>
                    <div class="delivery-item-price">
                        <span class="delivery-item-current-price"><span class="current<%= i %>">25.000</span> ₫</span>
                    </div>
                    </div>
                        <p class="delivery-item-name-wrap">
                            <span class="delivery-item-name">GH tiêu chuẩn</span>
                        </p>
                    </div>
                <div class="delivery-item-bottom" data-spm="confirm">
                    <p class="date-nhan">
                    Nhận vào: 22-26 thg 4
                    </p>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
        <% for(var j=0; j < arrCode[i].length; j++) { %>
        <div style="padding-left: 10px; padding-right: 10px">
        <div class="cart-item">
            <div class="cart-item-inner">
            <div class="cart-item-left">
                <div class="img-wrap">
                <a href="#" class="automation-link-from-image-to-prod">
                    <img src="<%= arrproduct[arrCode[i][j]].listImg[0] %>" class="img" alt="item"/>
                </a>
                </div>
                <div class="content" alt="<%= arrproduct[arrCode[i][j]]._id %>">
                <a id="" href="#" class="link-from">
                    <%= arrproductcode[arrCode[i][j]].name %>
                </a>
                <a href="#" class="link-from-sub">
                    Nhóm Màu:<%= arrproduct[arrCode[i][j]].color %>, Size:<%= arrproduct[arrCode[i][j]].size %>
                </a>
                </div>
            </div>
            <div class="cart-item-middle">
                <p class="current-price"><span class="price<%= i %><%= j %>"><%= arrproductcode[arrCode[i][j]].price %></span> ₫</p>
                <strike><p class="origin-price"><span class="numbers<%= i %><%= j %>"><%= arrproductcode[arrCode[i][j]].price %></span> ₫</p></strike>
                <p class="promotion-ratio"><span class="phan-tram-giam<%= i %><%= j %>">-0</span>%</p>
                <div class="operations">
                <span class="automation-btn-delete">
                    <span><i class="fa-solid fa-trash-can" onclick="xoa('<%= arrproduct[arrCode[i][j]]._id %>')"></i> </span>
                </span>
                </div>
            </div>
            <div class="cart-item-right">
                <div class="quantity">
                <span class="item-quantity-prefix">Số lượng: </span>
                <span class="item-quantity-value"><%= data[arrCode[i][j]].productList[0].quantity %></span>
                </div>
            </div>
            </div>
        </div>
        <div
            style="
            width: 100%;
            height: 1px;
            background-color: rgb(218, 218, 218);
            "
        ></div>
        </div>
        <% } -%>
    </div>

<% } -%>