<% listproductCode.reverse().forEach(product => { %>
<li class="product-item col-2">
  <a class="product-link" <%= product.hasData ? 'href=/product/detail/' + product._id : null  %>>
    <img src="<%= product.thumbnail %>" alt="" />
    <div class="product-content">
      <p class="product-name"> <%= product.hasData ?  '' : '(Hết hàng)' %> <%= product.name %></p>
      <p class="product-price">
        <span><%= product.price.toLocaleString() %></span>
        <span>₫</span>
      </p>
    </div>
  </a>
</li>
<%}) %>
